<!DOCTYPE html>
<html>
<head>
    <title>Application Usage Logs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Application Usage Logs (Grouped by Application)</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Application</th>
                    <th>Total Time Spent (seconds)</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log._id }}</td>
                        <td>{{ log.total_time_spent }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>     
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
